.Avatar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}

.avatarPicture {
  box-shadow: 0 0 0 4px #FFFFFF;
  border-radius: 50%;

}

@media screen and (max-width: 600px){
  .Avatar{
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}
